services:

  prometheus:
    image: prom/prometheus:v2.52.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
    image: grafana/grafana:10.2.2
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=hans@grafana
    volumes:
      - grafana_storage:/var/lib/grafana
    networks:
      - monitoring
    restart: unless-stopped

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_PROMETHEUS_AUTH_TYPE: public
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    networks:
      - monitoring

  mc:
    image: minio/mc
    container_name: mc
    depends_on:
      - minio
    networks:
      - monitoring
    entrypoint: >
      /bin/sh -c "
      until (/usr/bin/mc alias set minio http://minio:9000 minioadmin minioadmin) do echo '...waiting...' && sleep 1; done;
      /usr/bin/mc mb minio/bronze;
      /usr/bin/mc mb minio/silver;
      /usr/bin/mc mb minio/gold;
      /usr/bin/mc anonymous set public minio/bronze;
      /usr/bin/mc anonymous set public minio/silver;
      /usr/bin/mc anonymous set public minio/gold;
      tail -f /dev/null
      "
    
  kafka:
    image: confluentinc/cp-kafka:latest
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
      - "9404:9404"
    environment:
      KAFKA_KRAFT_MODE: "true"  # Enables KRaft mode.
      KAFKA_PROCESS_ROLES: controller,broker  # Kafka acts as both controller and broker.
      KAFKA_NODE_ID: 1  # Unique ID for the Kafka instance.
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@localhost:9093"  # Controller quorum.
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LOG_DIRS: /var/lib/kafka/data  # Log storage location.
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"  # Enables automatic topic creation.
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1  # Single replica for simplicity.
      KAFKA_LOG_RETENTION_HOURS: 168  # Log retention period (7 days).
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0  # No rebalance delay.
      # JMX Config for exposition to prometheus
      KAFKA_JMX_PORT: 9999
      KAFKA_JMX_HOSTNAME: kafka
      KAFKA_OPTS: >
        -javaagent:/opt/jmx-exporter/jmx_prometheus_javaagent-0.20.0.jar=9404:/opt/jmx-exporter/kafka-jmx.yml
      CLUSTER_ID: "Mk3OEYBSD34fcwNTJENDM2Qk"  # Unique Kafka cluster ID.
    
    volumes:
      - ./jmx-exporter/kafka:/opt/jmx-exporter
      - /var/run/docker.sock:/var/run/docker.sock
      - kafka_data:/var/lib/kafka/data  # Maps logs to local storage.
    networks:
      - monitoring
    
  nifi:
    image: apache/nifi:1.27.0
    hostname: nifi
    container_name: nifi
    ports:
      - "8081:8080"  # NiFi UI
      - "19092:19092"  # JMX Prometheus exporter
    environment:
      NIFI_WEB_HTTP_PORT: 8080
      NIFI_WEB_HTTP_HOST: 0.0.0.0
      NIFI_JAVA_OPTS_APPEND: >
        -javaagent:/etc/jmx/jmx_prometheus_javaagent-0.20.0.jar=19092:/etc/jmx/nifi-jmx-config.yml
    volumes:
      - ./nifi_conf/bootstrap.conf:/opt/nifi/nifi-current/conf/bootstrap.conf
      - ./jmx-exporter/nifi:/etc/jmx
    networks:
      - monitoring
    healthcheck:
      test: "curl -f http://localhost:8080/nifi/ || exit 1"
      interval: 30s
      retries: 5

  statsd-exporter:
    image: prom/statsd-exporter:latest
    container_name: statsd-exporter
    ports:
      - "9102:9102"      # endpoint Prometheus
      - "8125:8125/udp" # StatsD input
    networks:
      - monitoring

volumes:
  minio_data:
  kafka_data:
  grafana_storage:

networks:
  monitoring:
    external: true
