global:
  scrape_interval: 15s  # Frequency of metric scraping

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']
  
  - job_name: 'kafka'
    static_configs:
    - targets: ['kafka:9404']

  - job_name: 'nifi'
    metrics_path: '/nifi-api/flow/metrics/prometheus'
    static_configs:
    - targets: ['nifi:9992']

  - job_name: 'minio'
    metrics_path: /minio/v2/metrics/cluster
    scheme: http
    static_configs:
      - targets: ['minio:9000']
        labels:
          service: 'minio'
